@import "tailwindcss";

:root {
  --app-background-color: #fff;
  --app-text-color: #000;
  --app-navbar-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background-color: #151515;
    --app-text-color: #fff;
    --app-navbar-color: #111;
  }
}

body {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
}
