@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

:root {
  --app-background-color: #fff;
  --app-text-color: #000;
  --app-navbar-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-background-color: #131313;
    --app-text-color: #fff;
    --app-navbar-color: #111;
  }
}

body {
  background-color: var(--app-background-color);
  color: var(--app-text-color);
  font-family: "JetBrains Mono", monospace;
}
